body, html {
	background-color: #F8F9F9;
	height: 100%;
}

h3, h4 {
	font-family: 'Merriweather', serif;
}

.header {
	padding-top: 50px;
	padding-bottom: 50px;
}




/* Card */

.card-shoes-1, .card-shoes-2, .card-shoes-3, .card-shoes-4 {
	position: relative;
}

.card-shoes-1 .card:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #6ad125;
	clip-path: circle(150px at 80% 20%);
	transition: 0.4s ease-in-out;
}

.card-shoes-1 .card:hover:before {
	clip-path: circle(301px at 80% -20%);
}

.card-shoes-1 .card:after {
	content: '';
	position: absolute;
	top: -30%;
	left: -20%;
	font-size: 12rem;
	font-weight: 800;
	font-style: italic;
	color: rgba(255, 255, 255, 0.04);
}

.card-shoes-2 .card:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #6ad125;
	clip-path: circle(150px at 80% 20%);
	transition: 0.4s ease-in-out;
}

.card-shoes-2 .card:hover:before {
	clip-path: circle(301px at 80% -20%);
}

.card-shoes-2 .card:after {
	content: '';
	position: absolute;
	top: -30%;
	left: -20%;
	font-size: 12rem;
	font-weight: 800;
	font-style: italic;
	color: rgba(255, 255, 255, 0.04);
}

.card-shoes-3 .card:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #6ad125;
	clip-path: circle(150px at 80% 20%);
	transition: 0.4s ease-in-out;
}

.card-shoes-3 .card:hover:before {
	clip-path: circle(301px at 80% -20%);
}

.card-shoes-3 .card:after {
	content: '';
	position: absolute;
	top: -30%;
	left: -20%;
	font-size: 12rem;
	font-weight: 800;
	font-style: italic;
	color: rgba(255, 255, 255, 0.04);
}

.card-shoes-4 .card:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #6ad125;
	clip-path: circle(150px at 80% 20%);
	transition: 0.4s ease-in-out;
}

.card-shoes-4 .card:hover:before {
	clip-path: circle(301px at 80% -20%);
}

.card-shoes-4 .card:after {
	content: '';
	position: absolute;
	top: -30%;
	left: -20%;
	font-size: 12rem;
	font-weight: 800;
	font-style: italic;
	color: rgba(255, 255, 255, 0.04);
}

/* // Card */




.product-img {
	z-index: 100000000;
	width: 265px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}

.item-title {
    font-size: 1.5rem;
    font-weight: 500;
	font-family: 'Merriweather', serif;
	height: 70px;
}

.details-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 25px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.items {
	font-family: 'Merriweather', serif;
	background: #f2ede7;
	border-radius: 8px;
	width: 120px;
	display: flex;
	font-size: 18px;
	height: 30px;
	overflow: hidden;
}

.items__control {
	width: 40px;
	cursor: pointer;
	transition: 0.2s ease-in;
	text-align: center;
}

.items__control:hover {
    background: #6ad125;
    color: #FFF;
}

.items__current {
	width: 40px;
}

/* items--small */
.items.items--small {
	width: 90px;
	font-size: 16px;
	height: 26px;
	text-align: center;
}

.items.items--small .items__control {
	width: 30px;
}

.items.items--small .items__current {
	width: 30px;
}

.price {
	text-align: left;
}

.price__weight {
	color: #6c757d!important;
	font-size: 80%;
	line-height: 1;
}

.price__currency {
	font-size: 1.5rem;
	font-weight: 600;
	line-height: 1;
}

.btn-outline-warning {
    color: #6ad125;
    border-color: #6ad125;
}

.btn-outline-warning:hover {
    color: #FFF;
    background-color: #6ad125;
    border-color: #6ad125;
}

/*.cart-item {

}*/

.cart-item__top {
	display: flex;
	align-items: flex-start;
	padding-bottom: 15px;
	border-bottom: 1px solid #dee2e6;
	margin-bottom: 15px;
}

/*.cart-item__img  {

}*/

.cart-item__img img {
	max-width: 100px;
	height: auto;
}

.cart-item__desc {
	padding-top: 15px;
	padding-left: 15px;
}

.cart-item__title {
	font-family: 'Merriweather', serif;
	font-size: 16px;
    line-height: 1.2;
	font-weight: 600;
	margin-bottom: 5px;
}

.cart-item__weight {
    color: #6c757d!important;
    font-size: 80%;
    line-height: 1;
    margin-bottom: 15px;
}

.cart-item__details {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.cart-item__details .price__currency {
	font-size: 18px;
	margin-left: 15px;
}

.cart-total {
	font-size: 18px;
	font-weight: 500;
}

/*.delivery-cost {

}*/

.free {
	color: #0EA107;
}

.total-price {
	color: #EB5A1E;
}

.rouble {
	color: #EB5A1E;
}

.none {
	display: none;
}

.counter-wrapper {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}